@use "../utils/" as u;

.header {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-block-start: u.rem(46);
  background-image: url(../../../assets/home/bg-pattern-header.svg);
  background-repeat: no-repeat;
  background-size: u.rem(458) u.rem(458);
  height: u.rem(300);
  background-position: left u.rem(-42) top u.rem(-160);

  position: relative;

  @include u.breakpoint(medium) {
    padding-inline-start: u.rem(39);
    padding-block-start: u.rem(72);
    justify-content: start;
    background-size: u.rem(666) u.rem(666);
    background-position: right u.rem(-100) top u.rem(-164);
  }

  @include u.breakpoint(xlarge) {
    padding-inline-start: u.rem(165);
    padding-block-start: u.rem(81);
  }
}
