@use "../utils/" as u;

.signup {
  padding-inline: u.rem(24);
  background: #fafafa;

  &__heading {
    text-align: center;
    color: var(--grey);
    margin-block-start: u.rem(80);
  }

  &__para {
    text-align: center;
    color: var(--light-grey);
    margin-block-start: u.rem(16);
  }

  &__date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-block-start: u.rem(64);

    &__date {
      text-transform: uppercase;
    }

    &__time {
      display: flex;
      gap: u.rem(13);
      margin-block-start: u.rem(18);

      .date__card {
        background: rgba(81, 117, 255, 0.1);

        &__number {
          color: var(--dark-purple);
          opacity: 1;
        }

        &__unit {
          color: var(--grey);
          opacity: 0.5;
        }
      }
    }
  }
  &__date__button {
    display: none;
  }

  .form {
    background: #ffffff;
    box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.247159);
    border-radius: u.rem(13);
    margin-block-start: u.rem(64);
    display: flex;
    flex-direction: column;
    padding: u.rem(24);
    gap: u.rem(24);

    &__input {
      height: u.rem(45);
      border: none;
      border-bottom: 1px solid rgba(116, 123, 149, 0.5);
      padding-inline-start: u.rem(16);
      padding-block-end: u.rem(16);
      font-weight: 400;
      font-size: u.rem(16);
      line-height: u.rem(28);
      color: #747b95;
      opacity: 0.5;
    }
    #pricing {
      background-color: var(--white);
      color: #333950;
      opacity: 1;
      font-weight: 700;

      .form-prices {
        //fix
      }
    }

    &__button {
      background: #5175ff;
      border-radius: 28px;
      border: none;
      padding: 14px 0;
      font-family: "Kumbh Sans";
      font-style: normal;
      font-weight: 700;
      font-size: u.rem(16);
      line-height: u.rem(28);
      color: var(--white);
      margin-block-start: u.rem(54);
    }
  }
}
