@use "../utils/" as u;

.signup {
  background: #fafafa;
  height: 100%;

  &__container {
    @include u.breakpoint(xlarge) {
      display: flex;
      justify-content: space-between;
      max-width: u.rem(1500);
      margin-inline: auto;
    }
  }

  &__content {
    @include u.breakpoint(xlarge) {
      margin-inline-start: u.rem(165);
    }
  }

  &__heading {
    text-align: center;
    color: var(--grey);
    padding-inline: u.rem(24);
    margin-block-start: u.rem(-140);

    @include u.breakpoint(medium) {
      padding-inline: u.rem(97);
      margin-block-start: u.rem(-90);
    }

    @include u.breakpoint(xlarge) {
      margin-block-start: u.rem(-50);
      padding-inline: 0;
      text-align: start;
    }
  }

  &__para {
    text-align: center;
    color: var(--light-grey);
    margin-block-start: u.rem(16);
    padding-inline: u.rem(24);
    @include u.breakpoint(medium) {
      padding-inline: u.rem(97);
      margin-block-start: u.rem(24);
    }

    @include u.breakpoint(xlarge) {
      padding-inline: 0;
      margin-block-start: u.rem(24);
      text-align: start;
    }
  }

  &__date {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-block-start: u.rem(64);
    padding-inline: u.rem(24);

    @include u.breakpoint(medium) {
      padding-inline: u.rem(160);
    }
    @include u.breakpoint(xlarge) {
      padding-inline: 0;
      align-items: flex-start;
    }

    &__date {
      text-transform: uppercase;
    }

    &__time {
      display: flex;
      gap: u.rem(13);
      margin-block-start: u.rem(18);

      .date__card {
        background: rgba(81, 117, 255, 0.1);

        &__number {
          color: var(--dark-purple);
          opacity: 1;
        }

        &__unit {
          color: var(--grey);
          opacity: 0.5;
        }
      }
    }
  }
  &__date__button {
    display: none;
  }

  .form {
    margin-inline: u.rem(24);
    position: relative;
    z-index: 1;
    background: #ffffff;
    box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.247159);
    border-radius: u.rem(13);
    margin-block-start: u.rem(64);
    display: flex;
    flex-direction: column;
    padding: u.rem(24);
    gap: u.rem(24);

    @include u.breakpoint(medium) {
      margin-inline: u.rem(160);
    }

    @include u.breakpoint(xlarge) {
      margin-inline-end: u.rem(165);
      margin-inline-start: u.rem(125);
      margin-block-start: u.rem(-90);
      min-width: u.rem(445);
      padding: u.rem(40) u.rem(42) u.rem(51) u.rem(43);
    }

    &__input {
      height: u.rem(45);
      border: none;
      border-bottom: 1px solid rgba(116, 123, 149, 0.5);
      padding-inline-start: u.rem(16);
      padding-block-end: u.rem(16);
      font: u.$font;
      font-weight: 400;
      font-size: u.rem(16);
      line-height: u.rem(28);
      color: var(--dark-grey);

      &::placeholder {
        color: rgba(116, 123, 149, 0.5);
      }
      &:focus {
        color: var(--dark-grey);
        opacity: 1;
      }

      &--error {
        border-bottom-color: var(--red);
        color: var(--red);
        background-image: url(../../../assets/sign-up/icon-cross.svg);
        background-repeat: no-repeat;
        background-position: top u.rem(4) right u.rem(20);

        &::placeholder {
          color: var(--red);
        }
      }
    }

    .react-select {
      &__control {
        height: u.rem(45);
        border: none;
        border-bottom: 1px solid rgba(116, 123, 149, 0.5);
        padding-inline-start: u.rem(16);
        padding-block-end: u.rem(16);
        font-family: u.$font;
        font-style: normal;
        font-weight: 700;
        font-size: u.rem(16);
        line-height: u.rem(28);
        color: var(--dark-grey);

        &:hover {
          cursor: pointer;
        }
      }

      &__indicator-separator {
        display: none;
      }

      &__dropdown-indicator {
        padding-inline-end: u.rem(20);
        svg {
          fill: var(--dark-purple);
        }
      }

      &__menu {
        padding: u.rem(24) u.rem(39) u.rem(24) u.rem(32);
        background: #ffffff;
        border: 1px solid rgba(51, 57, 80, 0.153273);
        box-shadow: 0px 50px 50px -25px rgba(75, 92, 154, 0.747077);
        border-radius: u.rem(8);
        margin-block-start: u.rem(5);
      }

      &__option {
        font-family: u.$font;
        font-style: normal;
        font-weight: 700;
        font-size: u.rem(16);
        line-height: u.rem(28);
        color: var(--grey);
        border-block-end: 1px solid rgba(116, 123, 149, 0.25);
        padding-block-end: u.rem(16);
        padding-block-start: u.rem(16);

        &--is-selected {
          background-image: url(../../../assets/sign-up/icon-check.svg);
          background-repeat: no-repeat;

          &:nth-child(1) {
            background-position: top u.rem(10) right u.rem(5);
          }

          &:nth-child(2) {
            background-position: top u.rem(25) right u.rem(5);
          }

          &:nth-child(3) {
            background-position: top u.rem(22) right u.rem(5);
          }
        }

        &:hover {
          cursor: pointer;
        }

        &:nth-child(1) {
          padding-block-start: 0;
        }
        &:nth-child(3) {
          border-block-end: none;
          padding-block-end: 0;
        }
      }
    }

    &__button {
      background: var(--dark-purple);
      border-radius: u.rem(28);
      border: none;
      padding: u.rem(14) 0;
      font-family: u.$font;
      font-style: normal;
      font-weight: 700;
      font-size: u.rem(16);
      line-height: u.rem(28);
      color: var(--white);
      margin-block-start: u.rem(54);

      @include u.breakpoint(xlarge) {
        margin-block-start: u.rem(40);
      }

      &:hover {
        cursor: pointer;
        background: var(--light-purple);
      }
    }
  }

  &__footer {
    background: var(--dark-grey);

    width: 100%;
    height: u.rem(320);
    margin-block-start: u.rem(-233);
    background-image: url(../../../assets/home/bg-pattern-footer.svg);
    background-size: u.rem(375) u.rem(320);
    background-repeat: no-repeat;
    background-position: top left;

    @include u.breakpoint(medium) {
      height: u.rem(380);
    }

    @include u.breakpoint(xlarge) {
      position: absolute;
      height: 100vh;
      width: u.rem(420);
      right: 0;
      top: 0;
      margin: 0;
      background-size: u.rem(1440) u.rem(1440);
      background-position: top u.rem(-483) left u.rem(-555);
    }
  }
}
